<script type="text/ng-template" id="chart-units">
    <div class="data-block">
        <div ng-repeat="day in reportDayRange.week" class="data" ng-class="dayClasses(day, report[tile.tid].day[day], report[tile.tid].data[day])">
            <div class="data-point flex-1 color{{tile.color}}" ng-repeat="data in report[tile.tid].data[day]"></div>
        </div>
    </div>
    <div class="data-days chart-text">
        <div class="data-day"><span>{{report[tile.tid].day[0].name}}</span></div>
        <div class="data-day"><span>7 days ago</span></div>
    </div>
</script>

<script type="text/ng-template" id="chart-bars">
    <div class="data-block">
        <div ng-repeat="day in reportDayRange.week" class="data" ng-class="dayClasses(day, report[tile.tid].day[day], report[tile.tid].data[day])">
            <div class="data-void flex-{{tile._quota - report[tile.tid].data[day].length + report[tile.tid].data.over}}"></div>
            <div class="data-fill flex-{{report[tile.tid].data[day].length}}" label="{{report[tile.tid].data[day].length}}"></div>
        </div>
        <div class="liner fg-color{{tile.color}}" line-label="{{(tile._quota/2).toFixed(0)}}" style="top: {{100-((((tile._quota/2).toFixed(0))/tile._quota)*100).toFixed(0)}}%" ng-if="tile.type != 2 && tile._quota > 4"></div>

        <div class="liner fg-color{{tile.color}}" line-label="{{tile._quota}}" style="bottom: 100%" ng-if="tile._axis == 'down'"></div>
        <div class="liner fg-color{{tile.color}}" line-label="0" style="top: {{(100 - report[tile.tid].data.max)}}%" ng-if="tile._axis == 'down'"></div>

        <div class="liner fg-color{{tile.color}}" line-label="{{tile._quota}}" style="bottom: {{(100 - report[tile.tid].data.max)}}%" ng-if="tile._axis == 'up'"></div>
        <div class="liner fg-color{{tile.color}}" line-label="0" style="top: 100%" ng-if="tile._axis == 'up'"></div>
    </div>

    <div class="data-days chart-text">
        <div class="data-day day-0"><span>{{report[tile.tid].day[0].name}}</span></div>
        <div class="data-day day-7"><span>7 days ago</span></div>
    </div>
</script>

<script type="text/ng-template" id="chart-stacked">
    <div class="data-block">
        <div class="data">
            <div class="ab-key flex-row justify-content-between">
                <div class="a" key="a">
                    <span ng-bind-html="tile.labels[1] | emojify"></span>
                </div>
                <div class="b" key="b">
                <span ng-bind-html="tile.labels[-1] | emojify"></span>
                </div>
            </div>
            <div class="ab-bar ab-bar-null flex-row" ng-if="!report[tile.tid].data.a && !report[tile.tid].data.b">
                <div class="a flex-1"></div>
                <div class="b flex-1"></div>
            </div>
            <div class="ab-bar flex-row" ng-if="report[tile.tid].data.a || report[tile.tid].data.b">
                <div class="a flex-{{report[tile.tid].data.a}}" ng-class="{'winner': report[tile.tid].data.a >= report[tile.tid].data.b}"></div>
                <div class="b flex-{{report[tile.tid].data.b}}" ng-class="{'winner': report[tile.tid].data.b >= report[tile.tid].data.a}"></div>
            </div>
        </div>
    </div>
    <div class="chart-text">
        7 day average
    </div>
</script>

<script type="text/ng-template" id="chart-line">
    <div class="data-block">
        <div ng-repeat="day in reportDayRange.week" class="data" title="{{report[tile.tid].avg[day]}} \ {{report[tile.tid].day[day].max}} | {{report[tile.tid].day[day].min}}" ng-class="dayClasses(day, report[tile.tid].day[day], report[tile.tid].data[day])">
            <div class="data-null flex-{{report[tile.tid].day[day].spanTop}}"></div>
            <div class="data-span flex-{{report[tile.tid].day[day].span}}"></div>
            <div class="data-null flex-{{report[tile.tid].day[day].spanBottom}}"></div>
            <div class="data-point average" ng-class="{'null': !report[tile.tid].data[day].length}" style="top: {{(100 - report[tile.tid].day[day].pct)}}%"></div>
        </div>
        <div class="liner fg-color{{tile.color}}" line-label="{{report[tile.tid].data.lines.max}}" style="top: 0%"></div>
        <div class="liner fg-color{{tile.color}}" line-label="{{report[tile.tid].data.lines.start}}" style="top: 50%"></div>
        <div class="liner fg-color{{tile.color}}" line-label="{{report[tile.tid].data.lines.min}}" style="top: 100%"></div>
    </div>
    <div class="data-days chart-text">
        <div class="data-day"><span>{{report[tile.tid].day[0].name}}</span></div>
        <div class="data-day"><span>7 days ago</span></div>
    </div>
</script>

<script type="text/ng-template" id="detail-chart-units">
    <div class="data-block">
        <div ng-repeat="day in reportDayRange.month" class="data" ng-class="dayClasses(day, tileReport.day[day], tileReport.data[day])">
            <div class="data-void flex-{{tileInFocus._quota - tileReport.data[day].length}}"></div>
            <div class="data-point flex-1-0-auto" ng-repeat="data in tileReport.data[day]"></div>
        </div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="{{tileInFocus._quota}}" style="bottom: 100%"></div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="{{(tileInFocus._quota/2).toFixed(0)}}" style="top: {{100-((((tileInFocus._quota/2).toFixed(0))/tileInFocus._quota)*100).toFixed(0)}}%" ng-if="tileInFocus.type != 2 && tileInFocus._quota > 4"></div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="0" style="top: 100%"></div>
    </div>
    <div class="data-days chart-text">
        <div class="data-day"><span>{{tileReport.day[0].name}}</span></div>
        <div class="data-day"><span>{{reportDayRange.month.length}} days ago</span></div>
    </div>
</script>

<script type="text/ng-template" id="detail-chart-bars">
    <div class="data-block">

        <div ng-repeat="day in reportDayRange.month" class="data" ng-class="dayClasses(day, tileReport.day[day], tileReport.data[day])">
            <div class="data-void flex-{{tileInFocus._quota - tileReport.data[day].length + tileReport.data.over}}"></div>
            <div class="data-fill flex-{{tileReport.data[day].length}}" label="{{tileReport.data[day].length}}"></div>
        </div>

        <div class="liner fg-color{{tileInFocus.color}}" line-label="{{tileInFocus._quota}}" style="bottom: 100%" ng-if="tileInFocus._axis == 'down'"></div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="0" style="top: {{(100 - tileReport.data.max)}}%" ng-if="tileInFocus._axis == 'down'"></div>

        <div class="liner fg-color{{tileInFocus.color}}" line-label="{{tileInFocus._quota}}" style="bottom: {{(100 - tileReport.data.max)}}%" ng-if="tileInFocus._axis == 'up'"></div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="0" style="top: 100%" ng-if="tileInFocus._axis == 'up'"></div>

    </div>

    <div class="data-days chart-text">
        <div class="data-day day-0"><span>{{tileReport.day[0].name}}</span></div>
        <div class="data-day day-{{_.last(reportDayRange.month)}}"><span>{{reportDayRange.month.length}} days ago</span></div>
    </div>
</script>

<script type="text/ng-template" id="detail-chart-stacked">
    <div class="data-block">
        <div class="ab-key flex-column flex-1-all">
            <div class="a" key="a" ng-class="{'winner': tileReport.data.a >= tileReport.data.b}">
                <div ng-bind-html="tileInFocus._leftlabel"></div>
            </div>
            <div class="b" key="b" ng-class="{'winner': tileReport.data.b >= tileReport.data.a}">
            <div ng-bind-html="tileInFocus._rightlabel"></div>
            </div>
        </div>

        <div class="data-group">
            <div class="data" ng-class="{'winner': tileReport.data.a >= tileReport.data.b}">
                <div ng-repeat="day in reportDayRange.month" class="ab-bar flex-column" ng-class="dayClasses(day, tileReport.day[day], tileReport.data[day])">
                    <div class="null flex-{{(tileReport.data.max - tileReport.data[day].a)}}"></div>
                    <div class="a flex-{{tileReport.data[day].a}}"></div>
                </div>
            </div>
            <div class="data" ng-class="{'winner': tileReport.data.b >= tileReport.data.a}">
                <div ng-repeat="day in reportDayRange.month" class="ab-bar flex-column" ng-class="dayClasses(day, tileReport.day[day], tileReport.data[day])">
                    <div class="b flex-{{tileReport.data[day].b}}"></div>
                    <div class="null flex-{{tileReport.data.max - tileReport.data[day].b}}"></div>
                </div>
            </div>
        </div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="{{tileReport.data.max}}" style="bottom: 100%"></div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="0" style="top: 50%"></div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="-{{tileReport.data.max}}" style="top: 100%"></div>
    </div>
    <div class="data-days chart-text">
        <div class="data-day day-0"><span>{{tileReport.day[0].name}}</span></div>
        <div class="data-day day-{{reportDayRange.month.length}}"><span>{{reportDayRange.month.length}} days ago</span></div>
    </div>
</script>

<script type="text/ng-template" id="detail-chart-line">
    <div class="data-block">
        <div ng-repeat="day in reportDayRange.month" class="data" title="{{tileReport.avg[day]}} \ {{tileReport.day[day].max}} | {{tileReport.day[day].min}}" ng-class="dayClasses(day, tileReport.day[day], tileReport.data[day])">
            <div class="data-null flex-{{tileReport.day[day].spanTop}}"></div>
            <div class="data-span flex-{{tileReport.day[day].span}}"></div>
            <div class="data-null flex-{{tileReport.day[day].spanBottom}}"></div>
            <div
                class="data-point average"
                ng-class="{'null': !tileReport.data[day].length}"
                style="top: {{(100 - tileReport.day[day].pct)}}%">
            </div>
        </div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="{{tileReport.data.lines.max}}" style="bottom: 100%"></div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="{{tileReport.data.lines.start}}" style="top: 50%"></div>
        <div class="liner fg-color{{tileInFocus.color}}" line-label="{{tileReport.data.lines.min}}" style="top: 100%"></div>
    </div>
    <div class="data-days chart-text">
        <div class="data-day"><span>{{tileReport.day[0].name}}</span></div>
        <div class="data-day"><span>{{reportDayRange.month.length}} days ago</span></div>
    </div>
</script>
