<script type="text/ng-template" id="tile-general-tools">
    <div class="edit">
        <span class="fa fa-times" ng-click="tile.locked = !tile.locked" ng-if="!tile.locked && (tile.type == 3 || tile.type == 4)"></span>
        <span class="fa fa-undo" ng-click="undoRecordData($event, tile)" ng-class="{'doc-brown': undo[tile.tid]}" ng-if="!preferences.editing && tileData[tile.tid].length && undo[tile.tid]"></span>
        <span class="cancel-rewind fa" ng-click="toggleRewind(tile)" ng-class="{'fa-clock-o': !answers[tile.tid].editing, 'fa-times': answers[tile.tid].editing}" ng-if="preferences.editing && answers[tile.tid].canRewind"></span>

        <span class="spacer" ng-if="preferences.editing && !answers[tile.tid].canRewind"></span>

        <span class="save-rewind fa fa-check" ng-click="updateRewind(tile, answers[tile.tid].t)" ng-if="answers[tile.tid].rewind < 0 && answers[tile.tid].editing && preferences.editing"></span>
        <span class="fa fa-pencil" ng-click="goTo('/edit/{{tile.tid}}', 'CE')" ng-if="preferences.editing && !answers[tile.tid].editing"></span>
    </div>

    <div class="rewind" ng-if="preferences.editing && answers[tile.tid].editing && answers[tile.tid].rewindStop > 0">

        <div class="when when-fixed">{{answers[tile.tid].t.fixed}}</div>
        <div class="flex-row justify-content-between">
            <span>
                -{{answers[tile.tid].rewindStop}} min
                <br /><span class="subtext">{{answers[tile.tid].rewindContext}}</span>
            </span>
            <span>0 min</span>
        </div>

        <input
            type="range"
            ng-model="answers[tile.tid].rewind"
            ng-init="answers[tile.tid].rewind = 0"
            value="0"
            min="-{{answers[tile.tid].rewindStop}}"
            max="0"
            step="1"
            ng-change="answers[tile.tid].t = showRewinder(-answers[tile.tid].rewind, answers[tile.tid].t.d)"
            />
    </div>
</script>

<script type="text/ng-template" id="tile-count">
    <div class="tile-content" ng-class="{'popup': $index > 3}">

        <div class="tile-cue" as-sortable-item-handle hm-press="preferences.editing = !preferences.editing">
            <div class="name" ng-bind-html="tile.name | emojify"></div>
            <div class="result" ng-click="doRecordData($event, tile);ripple($event, '.tile-cue')">
                <div>{{answers[tile.tid].a}}</div>
                </div>
            <div class="when when-since" ng-if="!_.isNull(answers[tile.tid].t) && (tile.showTime == 'since' || tile.showTime == 'both')">{{answers[tile.tid].t.since}}</div>
            <div class="when when-fixed" ng-if="!_.isNull(answers[tile.tid].t) && (tile.showTime == 'fixed' || tile.showTime == 'both')">{{answers[tile.tid].t.fixed}}</div>
        </div>

        <div class="tile-tools" ng-include="'tile-general-tools'"></div>

    </div>
</script>

<script type="text/ng-template" id="tile-quota">
    <div class="tile-content" ng-class="{'popup': $index > 3}">

        <div class="tile-cue" as-sortable-item-handle hm-press="preferences.editing = !preferences.editing">
            <div class="progress {{tile.axis}}" ng-class="{'zero-down': (tile.axis == 'down' && answers[tile.tid].b == 100),'done': (tile.axis == 'down' && answers[tile.tid].b == 0) || (tile.axis == 'up' && answers[tile.tid].b == 100)  }">
                <div ng-style="{ 'height' : answers[tile.tid].b + '%'}"></div>
            </div>
            <!-- <i class="fa fa-angle-{{tile.axis}} fa-lg"></i> -->
            <div class="name" ng-bind-html="tile.name | emojify"></div>
            <div class="result" ng-click="doRecordData($event, tile);ripple($event, '.tile-cue')">
                <div class="of-a">{{answers[tile.tid].a}}</div>
                <div>
                    <span class="of-divide">&nbsp;</span>
                </div>
                <div class="of-quota">{{tile.quota}}</div>
            </div>
            <div class="when when-since" ng-if="!_.isNull(answers[tile.tid].t) && (tile.showTime == 'since' || tile.showTime == 'both')">{{answers[tile.tid].t.since}}</div>
            <div class="when when-fixed" ng-if="!_.isNull(answers[tile.tid].t) && (tile.showTime == 'fixed' || tile.showTime == 'both')">{{answers[tile.tid].t.fixed}}</div>
        </div>

        <div class="tile-tools" ng-include="'tile-general-tools'"></div>

    </div>
</script>

<script type="text/ng-template" id="tile-binary">
    <div class="tile-content" ng-class="{'popup': $index > 3}">
        <div class="tile-cue" as-sortable-item-handle ng-init="tile.locked=true" hm-press="preferences.editing = !preferences.editing">
        <div class="name" ng-bind-html="tile.name | emojify"></div>
            <div class="result" ng-if="answers[tile.tid].a && tile.locked" ng-click="tile.locked = false">
                <div ng-bind-html="answers[tile.tid].a | emojify"></div>
            </div>
            <div class="answers flex-row" ng-if="!answers[tile.tid].a || !tile.locked">
                <div class="answer answer-a" ng-click="doRecordData($event, tile, 1);tile.locked=true;ripple($event, '.tile-cue')" ng-bind-html="tile.labels['1'] | emojify"></div>
                <div class="answer answer-b" ng-click="doRecordData($event, tile, -1);tile.locked=true;ripple($event, '.tile-cue')" ng-bind-html="tile.labels['-1'] | emojify"></div>
            </div>
            <div class="when when-since" ng-if="answers[tile.tid].t && tile.locked && !_.isNull(answers[tile.tid].t) && (tile.showTime == 'since' || tile.showTime == 'both')">{{answers[tile.tid].t.since}}</div>
            <div class="when when-fixed" ng-if="answers[tile.tid].t && tile.locked && !_.isNull(answers[tile.tid].t) && (tile.showTime == 'fixed' || tile.showTime == 'both')">{{answers[tile.tid].t.fixed}}</div>
        </div>

        <div class="tile-tools" ng-include="'tile-general-tools'"></div>

    </div>
</script>

<script type="text/ng-template" id="tile-scale">
    <div class="tile-content" ng-class="{'popup': $index > 3}">
        <div class="tile-cue" as-sortable-item-handle ng-init="tile.range=scaleTypes[tile.scale].start;tile.locked=true" hm-press="preferences.editing = !preferences.editing">
        <div class="name" ng-bind-html="tile.name | emojify"></div>
            <div class="result">
                <div
                    ng-if="answers[tile.tid].a && tile.locked"
                    ng-click="tile.locked = false;tile.range = scaleTypes[tile.scale].start">{{answers[tile.tid].a}}</div>
                <div
                    ng-if="!answers[tile.tid].a || !tile.locked"
                    ng-click="doRecordData($event, tile, tile.range);tile.locked=true;ripple($event, '.tile-cue')">{{tile.range ? tile.range : scaleTypes[tile.scale].start}}</div>
            </div>
            <div class="when when-since" ng-if="answers[tile.tid].t && tile.locked && !_.isNull(answers[tile.tid].t) && (tile.showTime == 'since' || tile.showTime == 'both')">{{answers[tile.tid].t.since}}</div>
            <div class="when when-fixed" ng-if="answers[tile.tid].t && tile.locked && !_.isNull(answers[tile.tid].t) && (tile.showTime == 'fixed' || tile.showTime == 'both')">{{answers[tile.tid].t.fixed}}</div>
            <div class="answers" ng-if="(!answers[tile.tid].a || !tile.locked) && !preferences.editing">
                <div class="answer">
                    <input
                        type="range"
                        ng-model="tile.range"
                        value="{{scaleTypes[tile.scale].start}}"
                        min="{{scaleTypes[tile.scale].min}}"
                        max="{{scaleTypes[tile.scale].max}}"
                        step="1" />
                </div>
            </div>
        </div>

        <div class="tile-tools" ng-include="'tile-general-tools'"></div>

    </div>
</script>


<script type="text/ng-template" id="report-tile-count">
    <div class="tile-content">
        <div class="tile-cue {{tileTypes[tile.type].name}}">
            <div class="name" ng-bind-html="tile.name | emojify"></div>
            <div class="chart {{chartTypes[tile._chart].name}}">
                <div class="chart-inner" ng-include="'chart-' + chartTypes[tile._chart].name"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="report-tile-quota">
    <div class="tile-content">
        <div class="tile-cue {{tileTypes[tile.type].name}} {{tileTypes[tile.type].name}}-{{tile.axis}}">
            <div class="name" ng-bind-html="tile.name | emojify"></div>
            <div class="chart {{chartTypes[tile._chart].name}}">
                <div class="chart-inner" ng-include="'chart-' + chartTypes[tile._chart].name"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="report-tile-binary">
    <div class="tile-content">
        <div class="tile-cue {{tileTypes[tile.type].name}}">
            <div class="name" ng-bind-html="tile.name | emojify"></div>
            <div class="chart {{chartTypes[tile._chart].name}}">
                <div class="chart-inner" ng-include="'chart-' + chartTypes[tile._chart].name"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="report-tile-scale">
    <div class="tile-content">
        <div class="tile-cue {{tileTypes[tile.type].name}} {{tileTypes[tile.type].name}}-{{tile.scale}}">
            <div class="name" ng-bind-html="tile.name | emojify"></div>
            <div class="chart {{chartTypes[tile._chart].name}}">
                <div class="chart-inner"ng-include="'chart-' + chartTypes[tile._chart].name"></div>
            </div>
        </div>
    </div>
</script>
