<div class="form-row-label">Timestamps</div>
<div class="form-row fancy-radio-row flex-row align-items-center">
    <label>
        <input type="radio" value="" ng-model="tile.showTime" />
        <span>None</span>
    </label>
    <label>
        <input type="radio" value="since" ng-model="tile.showTime" />
        <span>Fuzzy</span>
    </label>
    <label>
        <input type="radio" value="fixed" ng-model="tile.showTime" />
        <span>Exact</span>
    </label>
    <label>
        <input type="radio" value="both" ng-model="tile.showTime" />
        <span>Both</span>
    </label>
</div>
