@keyframes slideOutLeft {
	to { transform: translate3D(-100%,0,0); }
}
@keyframes slideInLeft {
	from { transform: translate3D(-100%,0,0); }
}

@keyframes slideOutRight {
	to { transform: translate3D(100%,0,0) scale(1); }
}
@keyframes slideInRight {
	from { transform: translate3D(100%,0,0) scale(1); }
}

@keyframes slideOutTop {
	  0% { transform: translate3D(0,0,0); }
	100% { transform: translate3D(0,-100%,0); }
}
@keyframes slideInTop {
	  0% { transform: translate3D(0,-100%,0); }
	100% { transform: translate3D(0,0,0); }
}

@keyframes slideOutBottom {
	  0% { transform: translate3D(0,0,0); }
	100% { transform: translate3D(0,100%,0); }
}
@keyframes slideInBottom {
	  0% { transform: translate3D(0,100%,0); }
	100% { transform: translate3D(0,0,0); }
}

@keyframes grow {
	  0% { transform: scale(0);}
	100% { transform: scale(1); }
}
@keyframes growFromCenter {
	  0% { transform: translate(-50%, -50%) scale(0);}
	100% { transform: translate(-50%, -50%) scale(1); }
}
@keyframes stay {
	  0% { transform: scale(1); }
	100% { transform: scale(1); }
}
@keyframes shrink {
	  0% { transform: scale(1); }
	100% { transform: scale(0); }
}
@keyframes shrinkToCenter {
	  0% { transform: translate(-50%, -50%) scale(1);}
	100% { transform: translate(-50%, -50%) scale(0); }
}

@keyframes moveForward {
	  0% { transform: scale(.7); }
	100% { transform: scale(1); }
}
@keyframes moveBack {
	  0% { transform: scale(1); }
	100% { transform: scale(.7); }
}

@keyframes fadeIn {
	from {opacity: 0;}
}
@keyframes fadeOut {
	to {opacity: 0;}
}

@keyframes growFade {
	  0% { transform: scale(.35);opacity: 0;}
	100% { transform: scale(1);opacity: 1; }
}
@keyframes shrinkFade {
	  0% { transform: scale(1);opacity: 1; }
	100% { transform: scale(.35);opacity: 0; }
}


@keyframes jiggle {
	  0% {transform: scale(.85) rotate(-1deg);}
	 50% {transform: scale(.85) rotate(1.5deg);}
	100% {transform: scale(.85);}
}
@keyframes wiggle {
	  0% {transform: scale(.85) rotate(1deg);}
	 50% {transform: scale(.85) rotate(-1.5deg);}
	100% {transform: scale(.85);}
}

@keyframes ripple {
	  0% { transform: scale(0); opacity:.35;}
	100% { transform: scale(1); opacity: 0;}
}

@keyframes spin {
	  0% { transform: rotate(0);}
	100% { transform: rotate(360deg);}
}

@keyframes beacon {
	  0% { transform: scale(.2); opacity: .7; border-width: .1em;}
	 30% { transform: scale(1.5); opacity: 0; border-width: .05em;}
	100% { transform: scale(0); opacity: 0; border-width: 0;}
}

@keyframes pulse {
	  0% { box-shadow: 0 0 0 0; }
	 50% { box-shadow: 0 0 1em 0; }
	100% { box-shadow: 0 0 0 0; }
}

@keyframes pulseText {
	  0% { text-shadow: 0 0 0; }
	 50% { text-shadow: 0 0 .5em; }
	100% { text-shadow: 0 0 0; }
}

@keyframes floating {
	  0% {transform: translate3D(0,0,0);}
	 50% {transform: translate3D(0,-10%,0);}
	100% {transform: translate3D(0,0,0);}
}

@keyframes bounce {
	  0% {transform: translate3D(0,0%,0) rotate(0);}
	 50% {transform: translate3D(0,10%,0) rotate(3deg);}
	100% {transform: translate3D(0,0%,0) rotate(0);}
}

@keyframes flip {
	  0% {transform: translate3D(0,0%,0) rotateY(0deg);}
	100% {transform: translate3D(0,0%,0) rotateY(180deg);}
}
