@import 'keyframes';

/* element animations ------------------------ */
// .main-menu {
	// &.ng-animate {
	// 	transition: .35s;
	// }
	// &.ng-enter-active {animation: growFade .35s ease;}
	// &.ng-leave-active {animation: shrinkFade .35s ease;}
// }
// .menu-shield {
// 	&.ng-enter-active {animation: fadeIn .35s ease;}
// 	&.ng-leave-active {animation: fadeOut .35s ease;}
// }

/* page view animations ------------------------ */
// main {
	// &.ng-leave {
	// 	opacity: 1;
	// 	z-index: 1053;
	// }
	// &.ng-enter {
	// 	opacity: 0;
	// 	z-index: 1054;
	// }
	// &.ng-enter-active {opacity: 1;}
	// &.ng-leave-active {opacity: 0;}
// }
