.tutorial {
    h1, h2, h3, h4, h5 {
        font-weight: 200;
        letter-spacing: .05em;
        margin: 0;
        + p {
            margin-top: 1em;
        }
    }
    p {
        padding: 0;
        margin: 0;
        line-height: 1.4;
        font-family: $serif-font;
        font-style: italic;
        font-size: .7em;
        opacity: .65;
        font-weight: 100;
        i,em {
            font-style: normal;
        }
        + p {
            margin-top: 1em;
        }
        &.sans {
            font-family: inherit;
            font-weight: 200;
        }
    }
    .scroller {
        padding: 1em 1em 4em 1em;
    }
    .grid {
        padding: 0;
        li {
            float: none;
            margin: 0 auto;
            width: 50% !important;
        }
    }

    .hint {
        animation: pulseText 1.6s ease-in-out infinite;
    }

    .tap-here {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 38vw;
        height: 38vw;
        transform-origin: 20% 90%;
        z-index: 10;
        animation: bounce 3.5s infinite ease-in-out;
        transition: .6s;
        opacity: .8;
        &.tapped {
            animation: slideOutTop .6s ease-out;
            opacity: 0;
        }
        svg path {
            stroke-width: 1px;
        }
    }
    .details {
        width: calc(100% - 1em);
        margin: 0 auto;
    }
    .cancel-view {
        position: absolute;
        top: 0;
        right: 0;
        padding: .8em;
        z-index: 1;
    }
    .form-row {
        padding-left: 0;
        padding-right: 0;
    }
}

.step-1 {
    .message-top {
        bottom: calc(100% + 1em);
    }
    .message-bottom {
        top: calc(100% + 1em);
    }
}

.tutorial-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    > div {
        padding: 1em;
        font-size: .9em;
    }
    div, span {
        transition: all .7s;
        text-shadow: 0 .05em 0em rgba(#000, .35), 0 .05em .2em rgba(#000, .35);
    }

    span {
        font-size: .5rem;
        margin: 0 .3rem;
        opacity: .2;
        &.current {
            opacity: 1;
        }
    }
}
