<nav class="top-nav" ng-click="goTo('/main', 'LR')">
    <div class="end fa fa-angle-left pad-left-1"></div>
    <div class="middle">
        <span>Send Feedback</span>
    </div>
</nav>

<div class="canvas flex-1 scroller bg-base flex-column">

    <h5>Just say it!</h5>

    <p class="iconic sans">
        <i class="fa fa-comment fa-lg"></i>
        <span>We'd really appreciate your feedback! Please answer a few short questions and help us make things better!</span>
    </p>

    <p class="flex-1 text-center">
        <a class="button rounded" href="#/about" onclick="window.open('http://www.surveygizmo.com/s3/2029812/Ult-me-User-Feedback', '_system');" target="_system">Take our survey</a>
    </p>

    <a href="#/about" onclick="window.open('http://www.highfives.us/', '_system');" target="_system">
        <p class="iconic sans text-center">
            <span>
                <i class="fa fa-code fa-lg"></i> with <i class="fa fa-heart"></i> by High Fives, Inc.
            </span>
        </p>
    </a>

</div>
