<div class="tool-bar">
  <div class="flex-1">
      Reports
  </div>
  <a href="#/"><i class="fa fa-dot-circle-o"></i></a>
</div>


<div id="tile-reporting" class="flex-1 scroller">
  <ul class="">
    <li ng-repeat="(id, tile) in tiles" class="tile {{tileTypes[tile.type].name}}">
      <div class="tile-content">
          <!--
          <div class="dc-chart" dc-chart="pieChart" dc-chart-group="1"
              dc-width="180" dc-height="180" dc-inner-radius="80"
              dc-slices-cap="4"
              dc-dimension="dayDimension" dc-group="tileGroup"
              dc-legend="dc.legend()">
          </div>
          <div class="name"> {{tile.name}} </div>
          <div class="result">{{tileData[tile.tid].length}}</div>
          -->
          <div dc-chart="barChart" dc-width="420" dc-height="180"
               dc-margins="{top: 10, right: 50, bottom: 30, left: 40}"
               dc-dimension="dayDimension" dc-group="dayGroup"
               dc-elastic-y="true" dc-center-bar="true" dc-gap="1"
               dc-round="dc.round.floor" dc-always-use-rounding="true"
               dc-render-horizontal-grid-lines="true"
               dc-x="xScale"
               class="dc-chart">
          </div>
          <!--

          dc-options="fluctuationChartOptions"
          dc-post-setup-chart="fluctuationChartPostSetupChart"
          -->
      </div>
    </li>
  </ul>
</div>
<!--
<div dc-chart="barChart" dc-name="'volumeChart'"
dc-width="990" dc-height="40" dc-margins="{top: 0, right: 50, bottom: 20, left: 40}"
dc-dimension="moveMonths" dc-group="volumeByMonthGroup"
dc-center-bar="true" dc-gap="Date(1985, 0, 1)"
dc-x="d3.time.scale().domain([Date(1985, 0, 1), Date(2012, 11, 31)])"
dc-round="d3.time.month.round" dc-always-use-rounding="true"
dc-x-units="d3.time.months" class="dc-chart">
-->
