<div class="canvas preview flex-column">
    <div class="cancel-view fa fa-lg" ng-click="goTo('/main', 'EC')">&times;</div>
    <ul
        class="grid ng-cloak"
        as-sortable="dragControlListeners"
        ng-attr-is-disabled="true"
        ng-model="tiles"
        ng-class="{'editing': preferences.editing}"
        ng-cloak
        >
        <li
            ng-include="'views/partials/tiles/' + tileTypes[tile.type].name + '.html'"
            class="tile {{tileTypes[tile.type].name}} tile-color{{tile.color}}"
            ng-class="{'rewinding': answers[tile.tid].editing}"
            as-sortable-item
            ></li>
    </ul>
    <div class="control-bar flex-row flex-1-0-auto-all">
        <button ng-click="goToEditorStep(1, step)" ng-class="{'active': step == 1}"><span ng-class="{'fg-alert': hasErrors(1)}"><i class="fa fa-lg fa-square"></i></span></button>
        <!-- <button ng-click="goToEditorStep(2, step)"><span xclass="fa fa-angle-right ghost">|</span></button> -->
        <button ng-click="goToEditorStep(2, step)" ng-class="{'active': step == 2}"><span ng-class="{'fg-alert': hasErrors(2)}"><i class="fa fa-lg fa-question-circle"></i></span></button>
        <!-- <button ng-click="goToEditorStep(3, step)"><span xclass="fa fa-angle-right ghost">|</span></button> -->
        <button ng-click="goToEditorStep(3, step)" ng-class="{'active': step == 3}"><span><i class="fa fa-lg fa-clock-o"></i></span></button>
        <!-- <button ng-click="goToEditorStep(4, step)"><span xclass="fa fa-angle-right ghost">|</span></button> -->
        <button ng-click="goToEditorStep(4, step)" ng-class="{'active': step == 4}"><span ng-class="{'ghost': hasErrors(1) || hasErrors(2)}"><i class="fa fa-lg fa-floppy-o"></i></span></button>
    </div>
</div>

<div class="editor swiper flex-row flex-1 flex-1-0-auto-all" ng-swipe-left="nextEditorStep()" ng-swipe-right="prevEditorStep()">

    <div class="step-1 step--name scroller" ng-class="{'current': step == 1}" style="z-index: 4">
        <div class="form-row">
            <input class="flex-1" type="text" ng-model="tile.name" placeholder="e.g.: How am I feeling?" required />
        </div>

        <div class="form-row" ng-include="'views/partials/tile-settings/general-colors.html'"></div>
    </div>

    <div class="step-2 step--type scroller flex-column" ng-class="{'current': step == 2}" style="z-index: 3">
        <div class="type-wrapper flex-1-0-auto">
            <!-- <div ng-if="tile.type == 0" ng-include="'views/partials/tile-settings/for-blank.html'"></div> -->
            <div ng-if="tile.type == 1" ng-include="'views/partials/tile-settings/for-count.html'"></div>
            <div ng-if="tile.type == 2" ng-include="'views/partials/tile-settings/for-quota.html'"></div>
            <div ng-if="tile.type == 3" ng-include="'views/partials/tile-settings/for-binary.html'"></div>
            <div ng-if="tile.type == 4" ng-include="'views/partials/tile-settings/for-scale.html'"></div>
        </div>
    </div>

    <div class="step-3 step--time scroller" ng-class="{'current': step == 3}" style="z-index: 2">
        <div class="form-row" ng-include="'views/partials/tile-settings/general-timestamp.html'"></div>
        <div class="form-row" ng-include="'views/partials/tile-settings/general-timebox.html'"></div>
    </div>

    <div class="step-4 step--done scroller" ng-class="{'current': step == 4}" style="z-index: 1">
        <div class="errors form-row" ng-if="errors.length">
            You've got errors!
            <ul>
                <li ng-repeat="error in errors">{{error.label}} <a class="fg-alert" ng-click="goToEditorStep(error.step)"><u>fix this</u></a></li>
            </ul>
        </div>

        <div class="form-row">
            <label class="flex-1" ng-class="{'ghost': resetTileData || deleteTile}">
                <input type="checkbox" ng-model="archiveTile" ng-disabled="resetTileData || deleteTile" />
                archive
            </label>
        </div>

        <div class="form-row flex-row">
            <label class="flex-1" ng-class="{'ghost': archiveTile || deleteTile}">
                <input type="checkbox" ng-model="resetTileData" ng-disabled="archiveTile || deleteTile" />
                reset data?
            </label>
            <label ng-disabled="!resetTileData" ng-class="{'ghost': !resetTileData || archiveTile, 'fg-warning': resetTileData && !resetTileDataForRealz}">
                <input type="checkbox" ng-model="resetTileDataForRealz" ng-disabled="!resetTileData || archiveTile" />
                yes, I'm sure.
            </label>
        </div>

        <div class="form-row flex-row align-items-center">
            <div class="flex-1" ng-class="{'ghost': archiveTile || resetTileData}">
                <label><input type="checkbox" ng-model="deleteTile" ng-disabled="archiveTile || resetTileData" /> delete tile and data?</label>
            </div>
            <button class="rounded" ng-click="doDeleteTile($event)" ng-class="{'alert': deleteTile}" ng-disabled="!deleteTile || archiveTile">do it</button>
        </div>

        <div class="form-row debug" ng-if="preferences.debugMode">
            <pre>{{tile | json}}</pre>
        </div>

        <div class="text-center flex-0-0-auto pad-y-2">
            <button class="rounded pad-y-half pad-x-2" ng-class="{'caution': (resetTileData && resetTileDataForRealz) || archiveTile, 'save': !errors.length && !archiveTile && !resetTileData && !deleteTile}" ng-disabled="errors.length || deleteTile || (resetTileData && !resetTileDataForRealz)" ng-click="doUpdateTile($event)">
                {{resetTileData && resetTileDataForRealz ? 'Save & Reset' : (archiveTile ? 'Save & Archive' : 'Save')}}
            </button>
        </div>

    </div>
</div>
