<nav class="top-nav" ng-click="goTo('/main', 'LR')">
    <div class="end fa fa-angle-left pad-left-1"></div>
    <div class="middle">
        <span>Tips &amp; Tricks</span>
    </div>
</nav>

<div class="canvas flex-1 scroller bg-base">

    <h5>Press &amp; Hold to Edit</h5>
    <p>To edit your tiles, press and hold any tile's title text for a few seconds to put your screen into <i>Edit Mode</i>. The folowing icons may be present, depending on the state of the tile:</p>

    <p class="iconic sans">
        <i class="fa fa-pencil fa-lg"></i>
        <span><b>Edit</b> &mdash; Want to change the tiles color? Or Name? Click the pencil to go into the tiles edit screen. Tiles cannot be converted form one type to another, and some settings can't be altered once the tile has been created.</span>
    </p>

    <p class="iconic sans">
        <i class="fa fa-archive fa-lg"></i>
        <span><b>Archive</b> &mdash; If you are done with a tile and wish to remove it form your active tiles, but do not want to delete it, you can <i>Archive</i> the tile by tapping this icon. You can access your archived tiles via the main menu.</span>
    </p>

    <p class="iconic sans">
        <i class="fa fa-undo fa-lg"></i>
        <span><b>Undo</b> &mdash; When you tap to record an answer, you will see an undo icon in the top-left corner of the tile for approximately 5 seconds. It will allow you to undo the most recent answer.</span>
    </p>

    <p class="iconic sans">
        <i class="fa fa-clock-o fa-lg"></i>
        <span><b>Rewind</b> &mdash; Tiles that have a current answer will display a clock icon in the top-left corner. This allows you to rewind the most recent answer's timestamp. You cannot rewind past the creation date of the tile, and you cannot rewind past the previous answer if there is one.</span>
    </p>

</div>
